.privacy-policy-box {
    padding: 2rem;
    text-align: left;
    grid-area: main;
}

.policy-back-to-home-box {
    margin-top: 0rem;
    margin-bottom: 4rem;
}

.policy-back-to-home-btn {
    background-color: #272727;
    color: white;
    border: 1px ridge black;
    padding: .5rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

p {
    margin-top: 0.5rem;
}

h3 {
    margin-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h4 {
    margin-top: 1.5rem;
}

.policy-contact-title {
    position: relative;
}

.end {
    margin-bottom: 10rem;
}